body{
	background-image: url("../imgs/bg-1.png");
	background-color: #46265E;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-color: white;
	font-size: 15 px;
	height: 2256px;
	line-height: 21px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 1216px;
}